@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Noto+Sans+TC:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
}

.fontKalam {
  font-family: 'Kalam', cursive;
}

.colorBitter {
  color: #848975;
}

.textShadow {
  text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white, -1.5px 1.5px 0 white,
    1.5px 1.5px 0 white;
}
